.card-container-css {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
}
.card-inner-css{
    margin: auto;
    width: 50%;
}
.card-title-css{
    font-weight: bold;
}

.img {
    height: 200px;
}